

.dark-background-color
{
    background-color: #1F2937;
    padding-left: 270px;
    padding-right: 270px;
}

.header
{
    display: flex;
    padding-top: 30px;
    padding-bottom: 30px;
}

.header-logo-text
{
    display: flex;
    font-family: "Roboto", sans-serif;
    font-size: 24px;
    font-weight: bold;
    color: #F9FAF8;
    width: 80%;
}

.header-link-text
{
    display: flex;
    font-family: "Roboto", sans-serif;
    font-size: 18px;
    color: #E5E7EB;
    width: 50%;
    justify-content: space-between;
}

.hero
{
    display: flex;
    margin-top: 100px;
}

.hero-text
{
    width: 50%;
}

.hero-main-text
{
    font-family: "Roboto", sans-serif;
    font-size: 48px;
    font-weight: 800;
    color: #F9FAF8;
    padding-bottom: 10px;
}

.hero-secondary-text
{
    font-family: "Roboto", sans-serif;
    font-size: 18px;
    color: #E5E7EB;
    padding-right: 100px;
    padding-bottom: 15px;
}

.photo
{
    display: flex;
    width: 50%;
    height: 100%;
}

img
{
    width: 100%;
    height: auto;
    padding-bottom: 70px;
}

.button
{
    font-family: "Roboto", sans-serif;
    font-size: 18px;
    font-weight: bold;
    background-color: #3882F6;
    color: #F9FAF8;
    border: none;
    padding-left: 45px;
    padding-right: 45px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 10px;
}

.white-background-color
{
    padding-top: 70px;
    padding-left: 380px;
    padding-right: 380px;
    padding-bottom: 140px;
    outline: dotted red;
}

.information-header
{
    font-family: "Roboto", sans-serif;
    font-size: 36px;
    font-weight: 800;
    color: #1F2937;
    text-align: center;
    margin-bottom: 70px;
}

.information
{
    display: flex;
    justify-content: space-between;
    font-family: "Roboto", sans-serif;
    outline: dotted red;
    font-size: 18px;
    text-align: center;
}

.photo-box
{
    background-color: #3882F6;
    border-radius: 10px;
}

.quote-background-color
{
    padding-top: 140px;
    padding-bottom: 140px;
    background-color: #E5E7EB;
    text-align: center;
    padding-left: 520px;
    padding-right: 520px;
    font-family: "Roboto", sans-serif;
}

.quote-text
{
    color: #1F2937;
    font-size: 36px;
    font-weight: 300;
    font-style: italic;
    text-align: left;
}

.quote-author
{
    color: #1F2937;
    font-size: 36px;
    font-weight: 800;
    text-align: right;
}

.action-background-color
{
    padding-top: 100px;
    padding-bottom: 100px;
    padding-left: 270px;
    padding-right: 270px;

}

.action-box
{
    background-color: #3882F6;
    border-radius: 10px;
}

.box-text
{
    
    font-family: "Roboto", sans-serif;
    color: #F9FAF8;
    padding-left: 200px;
    padding-right: 200px;
    padding-top: 70px;
    padding-bottom: 70px;
}

.button2
{
    border: 3px solid #F9FAF8;
}

.text1
{
    font-size: 24px;
    font-weight: bold;
    padding-bottom: 10px;
}

.text2
{
    display: flex;
    font-family: "Roboto", sans-serif;
    font-size: 18px;
    justify-content: space-between;
}

.footer
{
    padding-top: 40px;
    padding-bottom: 40px;
    background-color: #1F2937;
    text-align: center;
    color: #F9FAF8;
    font-family: "Roboto", sans-serif;
    font-size: 18px;
}